
.formControl.error input,
.formControl.error textarea
{
    border: solid red 1px;
}

.formControl.error {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}