.selctedPage {
    font-weight: bold;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid gray;
}

.pageNumber.selctedPage {
    font-weight: bold;
    border-color: black;
}