   .content img {
    height: 350px;
    width: 100%;
    border-radius: 20px;
    margin: 5px;
  }

  .avatar img {
    height: 100px;
    width: 100px;
  }

  .mainPhoto {
    max-width: 200px;
    max-height: 200px;
  }